* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    overflow-x: hidden;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    padding: 5rem 0;
}

.div_bg {
    position: absolute;
    top: 0;
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: 2;
    background-color: white;
    max-width: 650px;
    width: 90%;
    border-radius: 15px;
    padding: 2rem;
    border: 1px solid rgba(128, 128, 128, 0.301);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.div_title {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.div_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div_body {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.div_question {
    font-weight: 600;
    display: flex;
    align-items: center;
}

.div_text {
    width: 90%;
}

.div_question:hover {
    color: hsl(292, 16%, 49%);
    cursor: pointer;
}

.div_img {
    width: 10%;
    text-align: right;
}

.div_answer {
    padding: 10px 0;
    color: gray;
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 20px 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}